RewriteEngine On

RewriteCond %{REQUEST_URI} styles/

###Overview Rewrites
RewriteRule	^styles/overview/intro$         styles [L]
RewriteRule	^styles/overview/guidelines$	styles [L]

###Design Rewrites
RewriteRule	^styles/design/color$           styles [L]
RewriteRule	^styles/design/typography$      styles [L]
RewriteRule	^styles/design/layout$          styles [L]

###Elements Rewrites

###Components Rewrites

###Utility Rewrites
