.lsg{
    padding: 0 0 0 352px;
    background-color:$white;
}

.lsg__sidebar{
    width:304px;
    height:100%;
    border-right:1px solid $light-gray;
    position:fixed;
    top:0;
    left:0;
    background-color:$white;
    .lsg__sidebar-head{
        height:304px;
        border-bottom:1px solid $light-gray;
    }
    .lsg__logo{
        display:block;
        &::after{
            display:none;
        }
        img{
            width:200px;
            display:block;
            margin:0 auto 10px auto;
        }
        .lsg__title{
            font-size:16px;
            text-decoration: none;
            color:$darkest-gray;
        }
    }
    .lsg__menu{
        width:100%;
        margin:0;
        padding:0;
        list-style: none;
        .lsg__menu-item{
            border-bottom:1px solid $light-gray;
            position:relative;
            font-size:22px;
            &:hover{
                cursor:pointer;
            }
            &::after{
                content:'\25B6';
                position:absolute;
                right:15px;
                top:23px;
                font-size:8px;
                color:$brand;
            }
            .lsg__submenu{
                max-height:0;
                overflow:hidden;
                list-style: none;
                background-color:$lightest-gray;
                box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.1);
                .lsg__submenu-item{
                    padding:5px 0 5px 40px;
                    font-size:16px;
                    &:first-child{
                        padding-top:10px;
                    }
                    &:last-child{
                        padding-bottom:10px;
                    }
                }
            }
            &.--open{
                padding-bottom:0;
                &::after{
                    transform: rotate(90deg);
                }
                .lsg__submenu{
                    max-height:9999em;
                    padding:10px 0;
                }
            }
        }
    }
}

.lsg__content{
    max-width:960px;
    padding:80px;
}

// Colors
.lsg__color-group{
    width:144px;
    display:block;
    margin-right:16px;
    border-radius:5px;
    overflow:hidden;
    float:left;
    .lsg__color{
        padding:16px;
        box-sizing: content-box;
        color:$white;
        position:relative;
        .lsg__color-hex{
            display:block;
            font-size:$fs-xs;
            text-transform: uppercase;
        }
        &.bg--white{
            border:1px solid $light-gray;
        }
        // &::before{
        //     content:'Click to Copy';
        //     width:100%;
        //     height:100%;
        //     display:block;
        //     padding:28px 0;
        //     position:absolute;
        //     top:0;
        //     left:0;
        //     color:$darkest-gray;
        //     font-weight:bold;
        //     text-align:center;
        //     opacity:0;
        //     box-sizing: border-box;
        //     border:2px solid $darkest-gray;
        //     background-color:rgba(255,255,255,0.8);
        //     transition:all 0.1s ease-in-out;
        // }
        // &:hover{
        //     &::before{
        //         opacity:1;
        //         cursor:pointer;
        //     }
        // }
    }
    &:last-child{
        margin-right:0;
    }
}

// Lists

.lsg__type-list{
    &.list--inline{
        li{
            width:24px;
        }
    }
}
