@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

body {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.5em;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

html, body {
  height: 100%;
  min-width: 1180px;
  overflow-x: auto; }

select::-ms-expand {
  display: none; }

@-moz-document url-prefix() {
  select {
    -moz-appearance: none; } }

.starts--hidden {
  display: none; }

.is--hidden {
  display: none !important; }

.is--visible {
  display: block !important; }

.disp--block {
  display: block !important; }

.disp--ib {
  display: inline-block !important; }

.disp--inline {
  display: inline !important; }

.width--100 {
  width: 100% !important; }

.width--95 {
  width: 95% !important; }

.width--90 {
  width: 90% !important; }

.width--85 {
  width: 85% !important; }

.width--80 {
  width: 80% !important; }

.width--75 {
  width: 75% !important; }

.width--70 {
  width: 70% !important; }

.width--65 {
  width: 65% !important; }

.width--60 {
  width: 60% !important; }

.width--55 {
  width: 55% !important; }

.width--50 {
  width: 50% !important; }

.width--45 {
  width: 45% !important; }

.width--40 {
  width: 40% !important; }

.width--35 {
  width: 35% !important; }

.width--30 {
  width: 30% !important; }

.width--25 {
  width: 25% !important; }

.width--20 {
  width: 20% !important; }

.width--15 {
  width: 15% !important; }

.width--10 {
  width: 10% !important; }

.width--5 {
  width: 5% !important; }

.bg--light-brand {
  background-color: #E9F4FF !important; }

.bg--brand {
  background-color: #2893FF !important; }

.bg--dark-brand {
  background-color: #317ED0 !important; }

.bg--light-accent {
  background-color: #E7F9F5 !important; }

.bg--accent {
  background-color: #13C4A3 !important; }

.bg--dark-accent {
  background-color: #23A08F !important; }

.bg--light-tertiary {
  background-color: #FDF7E5 !important; }

.bg--tertiary {
  background-color: #FFBC00 !important; }

.bg--dark-tertiary {
  background-color: #D1A019 !important; }

.bg--light-negative {
  background-color: #FCEDEE !important; }

.bg--negative {
  background-color: #E74E59 !important; }

.bg--dark-negative {
  background-color: #BF4E5B !important; }

.bg--lightest-gray {
  background-color: #FAFBFC !important; }

.bg--light-gray {
  background-color: #E7EAF1 !important; }

.bg--gray {
  background-color: #C1C9D7 !important; }

.bg--dark-gray {
  background-color: #8F9DAF !important; }

.bg--darkest-gray {
  background-color: #495165 !important; }

.bg--black {
  background-color: #223346 !important; }

.bg--white {
  background-color: #FFFFFF !important; }

.bg--white-80 {
  background-color: rgba(255, 255, 255, 0.8) !important; }

.bg--white-60 {
  background-color: rgba(255, 255, 255, 0.6) !important; }

.bg--white-40 {
  background-color: rgba(255, 255, 255, 0.4) !important; }

.bg--white-20 {
  background-color: rgba(255, 255, 255, 0.2) !important; }

.bg--white-10 {
  background-color: rgba(255, 255, 255, 0.1) !important; }

.bg--black {
  background-color: #223346 !important; }

.bg--black-80 {
  background-color: rgba(34, 51, 70, 0.8) !important; }

.bg--black-60 {
  background-color: rgba(34, 51, 70, 0.6) !important; }

.bg--black-40 {
  background-color: rgba(34, 51, 70, 0.4) !important; }

.bg--black-20 {
  background-color: rgba(34, 51, 70, 0.2) !important; }

.bg--black-10 {
  background-color: rgba(34, 51, 70, 0.1) !important; }

.textColor--light-brand {
  color: #E9F4FF !important; }

.textColor--brand {
  color: #2893FF !important; }

.textColor--dark-brand {
  color: #317ED0 !important; }

.textColor--light-accent {
  color: #E7F9F5 !important; }

.textColor--accent {
  color: #13C4A3 !important; }

.textColor--dark-accent {
  color: #23A08F !important; }

.textColor--light-tertiary {
  color: #FDF7E5 !important; }

.textColor--tertiary {
  color: #FFBC00 !important; }

.textColor--dark-tertiary {
  color: #D1A019 !important; }

.textColor--light-negative {
  color: #FCEDEE !important; }

.textColor--negative {
  color: #E74E59 !important; }

.textColor--dark-negative {
  color: #BF4E5B !important; }

.textColor--white {
  color: #FFFFFF !important; }

.textColor--lightest-gray {
  color: #FAFBFC !important; }

.textColor--light-gray {
  color: #E7EAF1 !important; }

.textColor--gray {
  color: #C1C9D7 !important; }

.textColor--dark-gray {
  color: #8F9DAF !important; }

.textColor--darkest-gray {
  color: #495165 !important; }

.textColor--black {
  color: #223346 !important; }

.fontSize--xs {
  font-size: 12px !important;
  line-height: 16px !important; }

.fontSize--s {
  font-size: 14px !important;
  line-height: 24px !important; }

.fontSize--m {
  font-size: 16px !important;
  line-height: 24px !important; }

.fontSize--l {
  font-size: 22px !important;
  line-height: 32px !important; }

.fontSize--xl {
  font-size: 32px !important;
  line-height: 48px !important; }

.fontSize--xxl {
  font-size: 42px !important;
  line-height: 56px !important; }

.textStyle--caps {
  text-transform: uppercase !important; }

.fontWeight--1 {
  font-weight: normal !important; }

.fontWeight--2 {
  font-weight: bold !important; }

.no--border {
  border: none !important; }

.border--1 {
  border-width: 1px; }

.border--2 {
  border-width: 2px; }

.border--solid {
  border-style: solid !important; }

.border--dashed {
  border-style: dashed !important; }

.border--lightest {
  border-color: rgba(34, 51, 70, 0.1) !important; }

.border--light {
  border-color: rgba(34, 51, 70, 0.2) !important; }

.border--medium {
  border-color: rgba(34, 51, 70, 0.4) !important; }

.border--dark {
  border-color: rgba(34, 51, 70, 0.6) !important; }

.border--darkest {
  border-color: rgba(34, 51, 70, 0.8) !important; }

.border--brand {
  border-color: #2893FF !important; }

.border--accent {
  border-color: #13C4A3 !important; }

.border--tertiary {
  border-color: #FFBC00 !important; }

.border--negative {
  border-color: #E74E59 !important; }

.border--t {
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important; }

.border--r {
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important; }

.border--b {
  border-left: none !important;
  border-top: none !important;
  border-right: none !important; }

.border--l {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important; }

.border--tb {
  border-left: none !important;
  border-right: none !important; }

.border--lr {
  border-top: none !important;
  border-bottom: none !important; }

.shadow--m {
  box-shadow: 0 0 5px rgba(34, 51, 70, 0.1); }

.shadow--l {
  box-shadow: 0 0 24px rgba(34, 51, 70, 0.8); }

body {
  font-family: "Roboto", sans-serif;
  color: #495165; }

h1 {
  font-size: 42px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 24px; }

h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  margin-bottom: 16px; }

h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 16px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 16px; }

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px; }
  p code.il {
    font-size: 12px; }

small {
  font-size: 14px;
  line-height: 16px !important; }

code.il {
  padding: 4px 8px;
  border: 1px solid #E7EAF1;
  background-color: #FAFBFC;
  border-radius: 3px;
  box-sizing: border-box;
  color: #00979D; }

.cf::after {
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.aspectRatio {
  height: 0;
  background-position: center;
  background-size: contain; }
  .aspectRatio.aspectRatio--1-1 {
    width: 100%;
    padding-top: 100%; }

.lsg {
  position: relative;
  background-color: #FFFFFF; }

.lsg__sidebar {
  width: 260px;
  height: 100%;
  border-right: 1px solid #E7EAF1;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #FFFFFF; }
  .lsg__sidebar .lsg__sidebar-head {
    height: 260px;
    border-bottom: 1px solid #E7EAF1; }
  .lsg__sidebar .lsg__logo {
    display: block;
    text-decoration: none; }
    .lsg__sidebar .lsg__logo::after {
      display: none; }
    .lsg__sidebar .lsg__logo img {
      width: 80px;
      display: block;
      margin: 0 auto 10px auto; }
    .lsg__sidebar .lsg__logo .lsg__title {
      font-size: 14px;
      color: #495165; }
  .lsg__sidebar .lsg__menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    .lsg__sidebar .lsg__menu .lsg__menu-item {
      border-bottom: 1px solid #E7EAF1;
      position: relative;
      font-size: 18px; }
      .lsg__sidebar .lsg__menu .lsg__menu-item:hover {
        cursor: pointer; }
      .lsg__sidebar .lsg__menu .lsg__menu-item::after {
        content: '\25B6';
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 8px;
        color: #C1C9D7; }
      .lsg__sidebar .lsg__menu .lsg__menu-item .lsg__submenu {
        max-height: 0;
        overflow: hidden;
        list-style: none;
        background-color: #FAFBFC;
        box-shadow: inset 0 1px 0px 0 rgba(0, 0, 0, 0.1); }
        .lsg__sidebar .lsg__menu .lsg__menu-item .lsg__submenu .lsg__submenu-item {
          padding: 5px 0 5px 32px;
          font-size: 16px; }
          .lsg__sidebar .lsg__menu .lsg__menu-item .lsg__submenu .lsg__submenu-item:first-child {
            padding-top: 10px; }
          .lsg__sidebar .lsg__menu .lsg__menu-item .lsg__submenu .lsg__submenu-item:last-child {
            padding-bottom: 10px; }
          .lsg__sidebar .lsg__menu .lsg__menu-item .lsg__submenu .lsg__submenu-item a {
            color: #495165;
            text-decoration: none;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out; }
            .lsg__sidebar .lsg__menu .lsg__menu-item .lsg__submenu .lsg__submenu-item a:hover {
              color: #2893FF; }
      .lsg__sidebar .lsg__menu .lsg__menu-item.--open {
        padding-bottom: 0; }
        .lsg__sidebar .lsg__menu .lsg__menu-item.--open::after {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
        .lsg__sidebar .lsg__menu .lsg__menu-item.--open .lsg__submenu {
          max-height: 9999em;
          padding: 10px 0; }

.lsg__content {
  width: calc(100% - 260px);
  max-width: 1024px;
  min-width: 768px;
  padding: 60px 80px;
  box-sizing: border-box;
  position: absolute;
  left: 260px; }

.lsg__color-group {
  width: 144px;
  display: block;
  margin-right: 16px;
  border-radius: 5px;
  overflow: hidden;
  float: left; }
  .lsg__color-group .lsg__color {
    padding: 16px;
    box-sizing: content-box;
    color: #FFFFFF;
    position: relative; }
    .lsg__color-group .lsg__color .lsg__color-hex {
      display: block;
      font-size: 12px;
      text-transform: uppercase; }
    .lsg__color-group .lsg__color.bg--white {
      border: 1px solid #E7EAF1; }
  .lsg__color-group:last-child {
    margin-right: 0; }

.lsg__type-list.list--inline li {
  width: 24px; }

.center {
  position: relative; }
  .center.center--v {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .center.center--h {
    margin: 0 auto;
    text-align: center; }

.valign--top {
  vertical-align: top !important; }

.valign--middle {
  vertical-align: middle !important; }

.valign--bottom {
  vertical-align: bottom !important; }

.align--left {
  text-align: left !important; }

.align--right {
  text-align: right !important; }

.align--center {
  text-align: center !important; }

.float--left {
  float: left !important; }

.float--right {
  float: right !important; }

.padding--xxs {
  padding: 4px; }

.padding--xs {
  padding: 8px; }

.padding--s {
  padding: 16px; }

.padding--m {
  padding: 24px; }

.padding--l {
  padding: 32px; }

.padding--xl {
  padding: 40px; }

.padding--xxl {
  padding: 48px; }

.padding--xxxl {
  padding: 56px; }

.no--pad {
  padding: 0 !important; }

.no--pad-t {
  padding-top: 0 !important; }

.no--pad-r {
  padding-right: 0 !important; }

.no--pad-b {
  padding-bottom: 0 !important; }

.no--pad-l {
  padding-left: 0 !important; }

.no--pad-lr {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.no--pad-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.margin--xxs {
  margin: 4px; }

.margin--xs {
  margin: 8px; }

.margin--s {
  margin: 16px; }

.margin--m {
  margin: 24px; }

.margin--l {
  margin: 32px; }

.margin--xl {
  margin: 40px; }

.no--margin {
  margin: 0 !important; }

.no--margin-t {
  margin-top: 0 !important; }

.no--margin-r {
  margin-right: 0 !important; }

.no--margin-b {
  margin-bottom: 0 !important; }

.no--margin-l {
  margin-left: 0 !important; }

.no--margin-lr {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.no--margin-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.pull--up-xxs {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px); }

.pull--up-xs {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px); }

.pull--up-s {
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px); }

.pull--up-m {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px); }

.pull--up-l {
  -webkit-transform: translateY(-32px);
  transform: translateY(-32px); }

.pull--up-xl {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px); }

.pull--down-xxs {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); }

.pull--down-xs {
  -webkit-transform: translateY(8px);
  transform: translateY(8px); }

.pull--down-s {
  -webkit-transform: translateY(16px);
  transform: translateY(16px); }

.pull--down-m {
  -webkit-transform: translateY(24px);
  transform: translateY(24px); }

.pull--down-l {
  -webkit-transform: translateY(32px);
  transform: translateY(32px); }

.pull--down-xl {
  -webkit-transform: translateY(40px);
  transform: translateY(40px); }

/*-----------------------------------*$TOAST-GRID
An insane grid.
You'd be mad to use it.
Usage
=====
Assuming default values:
<div class="grid">
<div class="grid__col grid__col--1-of-2">
A half-width column.
</div>
<div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
A quarter, pulled left by its own width. You get this, right?
</div>
</div>
Customisation
=============
$toast-grid-namespace and $toast-grid-column-namespace
adjusts the class names for the grid. With
default values, grid wrappers have a class
of '.grid' and columns '.grid__col'.
$toast-col-groups(n) adjusts column divisions.
For example, $toast-col-groups(12) will produce
a 12-column grid. $col-groups(3,6,8)
will produce a 3-, 6-, and 8-column grid.
$toast-gutter-width is—you guessed it—the gutter
width. Accepts any unit.
That's it. Have fun.
\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -16px; }

.col--2-of-2, .col--3-of-3, .col--4-of-4, .col--5-of-5, .col--6-of-6, .col--8-of-8, .col--12-of-12 {
  width: 100%; }

.col--1-of-2, .col--2-of-4, .col--3-of-6, .col--4-of-8, .col--6-of-12 {
  width: 50%; }

.col--1-of-3, .col--2-of-6, .col--4-of-12 {
  width: 33.33333%; }

.col--2-of-3, .col--4-of-6, .col--8-of-12 {
  width: 66.66667%; }

.col--1-of-4, .col--2-of-8, .col--3-of-12 {
  width: 25%; }

.col--3-of-4, .col--6-of-8, .col--9-of-12 {
  width: 75%; }

.col--push-2-of-2, .col--push-3-of-3, .col--push-4-of-4, .col--push-5-of-5, .col--push-6-of-6, .col--push-8-of-8, .col--push-12-of-12 {
  margin-left: 100%; }

.col--push-1-of-2, .col--push-2-of-4, .col--push-3-of-6, .col--push-4-of-8, .col--push-6-of-12 {
  margin-left: 50%; }

.col--push-1-of-3, .col--push-2-of-6, .col--push-4-of-12 {
  margin-left: 33.33333%; }

.col--push-2-of-3, .col--push-4-of-6, .col--push-8-of-12 {
  margin-left: 66.66667%; }

.col--push-1-of-4, .col--push-2-of-8, .col--push-3-of-12 {
  margin-left: 25%; }

.col--push-3-of-4, .col--push-6-of-8, .col--push-9-of-12 {
  margin-left: 75%; }

.col--pull-2-of-2, .col--pull-3-of-3, .col--pull-4-of-4, .col--pull-5-of-5, .col--pull-6-of-6, .col--pull-8-of-8, .col--pull-12-of-12 {
  margin-left: -100%; }

.col--pull-1-of-2, .col--pull-2-of-4, .col--pull-3-of-6, .col--pull-4-of-8, .col--pull-6-of-12 {
  margin-left: -50%; }

.col--pull-1-of-3, .col--pull-2-of-6, .col--pull-4-of-12 {
  margin-left: -33.33333%; }

.col--pull-2-of-3, .col--pull-4-of-6, .col--pull-8-of-12 {
  margin-left: -66.66667%; }

.col--pull-1-of-4, .col--pull-2-of-8, .col--pull-3-of-12 {
  margin-left: -25%; }

.col--pull-3-of-4, .col--pull-6-of-8, .col--pull-9-of-12 {
  margin-left: -75%; }

.col--1-of-5 {
  width: 20%; }

.col--push-1-of-5 {
  margin-left: 20%; }

.col--pull-1-of-5 {
  margin-left: -20%; }

.col--2-of-5 {
  width: 40%; }

.col--push-2-of-5 {
  margin-left: 40%; }

.col--pull-2-of-5 {
  margin-left: -40%; }

.col--3-of-5 {
  width: 60%; }

.col--push-3-of-5 {
  margin-left: 60%; }

.col--pull-3-of-5 {
  margin-left: -60%; }

.col--4-of-5 {
  width: 80%; }

.col--push-4-of-5 {
  margin-left: 80%; }

.col--pull-4-of-5 {
  margin-left: -80%; }

.col--1-of-6 {
  width: 16.66667%; }

.col--push-1-of-6 {
  margin-left: 16.66667%; }

.col--pull-1-of-6 {
  margin-left: -16.66667%; }

.col--5-of-6 {
  width: 83.33333%; }

.col--push-5-of-6 {
  margin-left: 83.33333%; }

.col--pull-5-of-6 {
  margin-left: -83.33333%; }

.col--1-of-8 {
  width: 12.5%; }

.col--push-1-of-8 {
  margin-left: 12.5%; }

.col--pull-1-of-8 {
  margin-left: -12.5%; }

.col--3-of-8 {
  width: 37.5%; }

.col--push-3-of-8 {
  margin-left: 37.5%; }

.col--pull-3-of-8 {
  margin-left: -37.5%; }

.col--5-of-8 {
  width: 62.5%; }

.col--push-5-of-8 {
  margin-left: 62.5%; }

.col--pull-5-of-8 {
  margin-left: -62.5%; }

.col--7-of-8 {
  width: 87.5%; }

.col--push-7-of-8 {
  margin-left: 87.5%; }

.col--pull-7-of-8 {
  margin-left: -87.5%; }

.col--1-of-12 {
  width: 8.33333%; }

.col--push-1-of-12 {
  margin-left: 8.33333%; }

.col--pull-1-of-12 {
  margin-left: -8.33333%; }

.col--2-of-12 {
  width: 16.66667%; }

.col--push-2-of-12 {
  margin-left: 16.66667%; }

.col--pull-2-of-12 {
  margin-left: -16.66667%; }

.col--5-of-12 {
  width: 41.66667%; }

.col--push-5-of-12 {
  margin-left: 41.66667%; }

.col--pull-5-of-12 {
  margin-left: -41.66667%; }

.col--7-of-12 {
  width: 58.33333%; }

.col--push-7-of-12 {
  margin-left: 58.33333%; }

.col--pull-7-of-12 {
  margin-left: -58.33333%; }

.col--10-of-12 {
  width: 83.33333%; }

.col--push-10-of-12 {
  margin-left: 83.33333%; }

.col--pull-10-of-12 {
  margin-left: -83.33333%; }

.col--11-of-12 {
  width: 91.66667%; }

.col--push-11-of-12 {
  margin-left: 91.66667%; }

.col--pull-11-of-12 {
  margin-left: -91.66667%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 16px;
  vertical-align: top; }
  @media (max-width: 700px) {
    .col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 700px) and (min-width: 480px) {
    .col[class*="col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--m-1-of-2, .col.col--m-2-of-4 {
      width: 50%; }
    .col.col--m-1-of-3 {
      width: 33.33333%; }
    .col.col--m-2-of-3 {
      width: 66.66667%; }
    .col.col--m-1-of-4 {
      width: 25%; }
    .col.col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .col[class*="col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--s-1-of-2, .col.col--s-2-of-4 {
      width: 50%; }
    .col.col--s-1-of-3 {
      width: 33.33333%; }
    .col.col--s-2-of-3 {
      width: 66.66667%; }
    .col.col--s-1-of-4 {
      width: 25%; }
    .col.col--s-3-of-4 {
      width: 75%; } }

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col--d-first {
  float: left; }

.col--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .col {
    padding-left: 0; }
  .row--no-gutter .col--span-all {
    margin-left: 0;
    width: 100%; }

.col--ab {
  vertical-align: bottom; }

.col--am {
  vertical-align: middle; }

.row.row--full-height {
  height: 100%; }
  .row.row--full-height .col {
    height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  display: table; }
  .wrapper .wrapper__inner {
    display: table-cell;
    vertical-align: middle; }

.list .item {
  position: relative; }

.list.list--bulleted {
  list-style: disc; }

.list.list--truncated .item {
  white-space: nowrap; }

.list.list--inline li {
  display: inline-block;
  vertical-align: middle; }

.list.list--divided li.item {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid rgba(34, 51, 70, 0.1); }
  .list.list--divided li.item:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none; }

.well {
  border: 1px solid #E7EAF1;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 24px;
  margin-bottom: 32px;
  overflow-x: auto; }
  .well:last-child {
    margin-bottom: 0; }
  .well.well--sectioned {
    padding: 0; }
    .well.well--sectioned .well__row .well__section {
      display: block;
      overflow: auto; }
  .well .well__section {
    padding: 24px;
    border-bottom: 1px solid #E7EAF1; }
    .well .well__section:last-child {
      border-bottom: none; }
  .well .well__row {
    width: 100%;
    display: table;
    border-bottom: 1px solid #E7EAF1; }
    .well .well__row:last-child {
      border-bottom: none; }
    .well .well__row .well__section {
      display: table-cell;
      border-bottom: none;
      border-right: 1px solid #E7EAF1; }
      .well .well__row .well__section:last-child {
        border: none; }
      .well .well__row .well__section.is-halved {
        width: 50%; }
      .well .well__row .well__section.is-thirds {
        width: 33.333333%; }
      .well .well__row .well__section.is-quartered {
        width: 25%; }
    .well .well__row .well--code {
      padding: 0; }
      .well .well__row .well--code code {
        border-top: 1px solid #E7EAF1;
        padding: 16px !important;
        background-color: #FAFBFC; }
  .well .list:last-child {
    margin: 0; }
  .well.well--dark {
    border-color: rgba(34, 51, 70, 0.6); }
    .well.well--dark .well__section {
      border-color: rgba(255, 255, 255, 0.2); }
